$colors: (
  footer-background: rgb(56, 56, 56),
  footer-logo: rgb(216, 216, 216),
  footer-text: white
);

$sizes: (
  header-logo-width: 100px,
  // footer-logo-width: 100px
);

$spaces: (
  z: 0,
  xs: 4px,
  s: 8px,
  m: 16px,
  l: 20px,
  xl: 24px,
  xxl: 44px,
  xxxl: 80px
);

$header: (
    height: 60px
);