$theme-header-yellow: (
    background: rgb(41, 41, 41),
    font-color: rgb(255, 255, 255),
    main-color: rgb(255, 222, 32),
);

$sizes: (
  header-logo-width: 100px,
  header-height: 60px,
);

$header: (
    height: 60px
);

.header {
    height: map-get($sizes, 'header-height' );
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media (max-width: 425px) {
        padding-top: 12px;
    }
}

.header-yellow {
    background-color: map-get($theme-header-yellow, 'background');
    color:map-get($theme-header-yellow , 'font-color' );
}

.header_container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_logo {
    height: 50px;
    @media (max-width: 425px) {
        display: none;
    }
}

.header-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 10;
}

.header_link {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-left: 3vw;
    border-bottom: 2px solid transparent;
    // margin-left: 60px;
    @media (max-width: 700px) {
        margin-top: 30px;
    }
}

.header_link-active {
    border-bottom: 2px solid map-get($theme-header-yellow, 'main-color');
}

.header_loginIcon-passive {
    fill: map-get($theme-header-yellow, 'font-color' );
}

.header_loginIcon-active {
    fill: map-get($theme-header-yellow, 'main-color');
}

.header_mobileMenu {
    display: none;
    height: 25px;
    @media (max-width: 425px) {
        display: block;
    }
}

.header_mainNav {
    @media (max-width: 425px) {
        display: none;
    }
}

.header_mainNav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 5;
}

.header_mainNav-mobile:after {
    content: "phone: 01480 458334";
    position: absolute;
    bottom: 40px;
    font-size: 0.6em;
    color: rgb(202, 201, 201);
}

.header_mobileMenu-active {
    fill: map-get($theme-header-yellow, 'main-color')
}
