.header_logo {
    // fill: map-get($colors, 'header-logo' );
    // width: map-get($sizes, 'header-logo-width')
    height: 50px;
}

$theme-logo-black: (
    fill: rgb(0, 0, 0),
);

$theme-logo-white: (
    fill: rgb(216, 216, 216),
);

.logo-black {
    fill: map-get($theme-logo-black, 'fill' )
}

.logo-white {
    fill: map-get($theme-logo-white, 'fill' )
}