$theme-header-yellow: (
    background: rgb(41, 41, 41),
    font-color: rgb(255, 255, 255),
    main-color: rgb(255, 222, 32),
);

$sizes: (
  header-logo-width: 100px,
  header-height: 60px,
);

$header: (
    height: 60px
);

.header {
    height: map-get($sizes, 'header-height' );
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
}

.header-yellow {
    background-color: map-get($theme-header-yellow, 'background');
    color:map-get($theme-header-yellow , 'font-color' );
}

.header_logo {
    height: 50px;
}

.header-links {
    width: calc( 100% - #{map-get($sizes, 'header-logo-width')} );
}

.header_link {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-left: 60px;
}

.header_link-active {
    border-bottom: 2px solid map-get($theme-header-yellow, 'main-color');
}

.header_loginIcon-passive {
    fill: map-get($theme-header-yellow, 'font-color' );
}

.header_loginIcon-active {
    fill: map-get($theme-header-yellow, 'main-color');
}
