.box {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.btn-book {
    float: right;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    background-color: #DE5E4A;
    font-size: 18px;
}

.btn-book:hover {
    background-color: rgb(253, 83, 56);
    cursor: pointer;
}

.input {
    padding: 10px 20px;
    border: 2px solid white;
    background-color: #403F3D;
    outline-color: #DE5E4A;
    min-width: 300px;
}

.select-serv {
    text-align: left;
    display: flex;
    flex-direction: column;
}