.foto-img {
    max-width: 40%;
    border-radius: 8px;
    opacity: 0.9;
    /* border: 2px solid white; */
    /* background-image: url(../../../barbershop-4762345_1920.jpg); */
    /* border: 1px solid #252525;
    width: 50%;
    /* /* max-height: 350px;
    min-height: 100px; */
    /* box-shadow: 0 0 20px rgba(2, 2, 2, 0.8);  */
    /* /* background-size: cover; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5);  */
}