.registration {
    position: relative;
    height: calc(100vh - 30px);
    background: linear-gradient(337deg, rgba(200,139,99,1) 37%, rgba(13,6,1,1) 100%);
     background-image: url(../images/about-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     color: #fff;
     font-family: 'Special Elite', cursive;
     font-size: 24px;
}


.registration__form-title {
    margin: 0;
    text-align: center;
    line-height: 45px;
    background-color: black;
    color: white;
    margin: auto;
}
.registration__form-title span {
    color: red;
    font-weight: 700;
}

.registration__wrapper {
    max-width: 1146px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.registration___form-wrapper {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.registration__form-inner {
    margin: 0;
    width: 100%;
    line-height: 26px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.registration__form-inner span {
    color: red;
    font-weight: 700;
}

.registration__form-inner a {
    color: white;
      font-size: 18px;
}

.registration__form {
    margin: auto;
    width: 50%;
}

.registration__form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
}

.registration__form-input {
    padding: 13px 10px;
    padding-bottom: 12px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    outline: 0;
    border: 2px solid black;
    background: #FFFFFF;
    font-size: 14px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    
    cursor: pointer;
    caret-color: #0999aa;
}

.registration__form-input::placeholder {
    text-transform: uppercase;
    color: darkgrey
}


.registration__form-subtitle {
    margin: 0;
}

.registration__form-inner-success {
    background-color: transparent;
    color: red
} 
.registration__form-title-success {
    background-color: transparent;
    color: black;
    
}

.registration__form-inner-success  a {
    color: red
}