.haircut {
    display: flex;
    justify-content: space-between;
}
.img1 {
    width: 300px;
    border: 2px solid white;
    margin-right: 40px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
}
.img2 {
    width: 200px;
    height: auto;
    border: 2px solid white;
}
.img3 {
    width: 200px;
    border: 2px solid white;
}

.btn {
    /* float: right; */
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    /* width: 100px; */
    text-align: center;
    justify-content: flex-end;
}

.btn:hover {
    background-color: #DE5E4A;
    /* color: #252525; */
}

.col3 {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: space-between;
    text-align: center;
}

.description {
    text-align: start;
}