.lead {
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-attachment: fixed; */
    /* height: 600px; */
    margin-bottom: 40px;
    /* width: 50%; */
    margin: auto;
}
