.login-icon {
    height: 2rem;
    cursor: pointer;
}

  .switch input {
    font-family: inherit;
    line-height: normal;
    margin: 0;
  }
  
  .switch input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  .switch-container {
    left: 50%;
    margin: -32px 0 0 -80px;
    position: absolute;
    top: 20%;
    width: 50px;
  }
  
  .switch {
    background: #d4d4d4;
    border-radius: 32px;
    cursor: pointer;
    display: block;
    height: 28px;
    position: relative;
    width: 50px;
  }
  
  .switch label {
    color: #000;
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    width: 24px;
  }
  
  .switch label:nth-of-type(1) {
    left: -7%;
    position: absolute;
    text-align: right;
    z-index: 3;
  }
  
  .switch label:nth-of-type(2) {
    position: absolute;
    right: -7%;
    text-align: left;
    z-index: 3;
  }
  
  .switch input {
    cursor: pointer;
    height: 28px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 2;
  }
  
  .switch input:checked ~ label:nth-of-type(1) {
    color: #000;
  }
  
  .switch input:checked ~ label:nth-of-type(2) {
    color: #fff;
  }
  
  .switch input ~ :checked ~ label:nth-of-type(1) {
    color: #fff;
  }
  
  .switch input ~ :checked ~ label:nth-of-type(2) {
    color: #000;
  }
  
  .switch input:checked ~ .toggle {
    left: 4px;
  }
  
  .switch input ~ :checked ~ .toggle {
    left: 26px;
  }
  
  .switch input:checked {
    z-index: 0;
  }
  
  .toggle {
    background: #fff;
    border-radius: 50%;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    -webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
    width: 20px;
    z-index: 1;
  }