.copy {
    color: white;
    text-decoration: none;
}


.footer {
    background-color: #DE5E4A;
    border-top: 2px solid white;
    display: flex;
    align-items: flex-end;
    min-height: 300px;
}

.row {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.social {
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

.social:hover {
    color: #403F3D;
}