// @import './footer-logo';

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-contacts {
    @extend .footer;
    position: absolute;
    top: 300px;
    right: 50px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 15px;

}

$theme-foorer-dark: (
    text-color: white,
    background-color: rgb(41, 41, 41),
);

.footer-dark {
    color: map-get($theme-foorer-dark, 'text-color');
    background-color: map-get($theme-foorer-dark, 'background-color');
}

.footer-logo {
    width: 250px;
}