@import './footer-logo';

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

$theme-foorer-dark: (
    text-color: white,
    background-color: rgb(41, 41, 41),
);

.footer-dark {
    color: map-get($theme-foorer-dark, 'text-color');
    background-color: map-get($theme-foorer-dark, 'background-color');
}