.main-page-background, .main-page-main-block{
    position: relative;
}

.main-page-background{
    height: 85vh;
    width: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("/images/logos/background.png");
    background-size:cover;
}

.main-page-main-block{
    top:50%;
    transform:translateY(-50%);
    width: 20vw;
    margin: 0 auto;
    height: 12vw;
}

.main-page-main-block-name-div, .main-page-main-block-address-div{
    border:3px solid black;
    text-align: center;
    font-family: Ruso One;
    letter-spacing: 0.15em;

}

.main-page-main-block-name-div>span, .main-page-main-block-address-div >span{
    position: relative;
    top: 11%;
}

.main-page-main-block-name-div{
    position: absolute;
    width: 100%;
    height: 80%;
    background: rgba(0,0,0,.5);
    color:whitesmoke;
    font-size: 1.91vw;
}

.main-page-main-block-address-div{
    position: relative;
    margin: 0 auto;
    background: rgba(245, 245, 245, .7);
    width: 60%;
    height: 50%;
    top: 57%;
    font-size: 0.91vw;
    padding: 1px;
}