.about-player {
    position: relative;
    width: 100%;    
    top: 0;
    // right: 0;
    // left: 0;
    // width: 1000px;
}

.container-about {
    padding-top: 1500px;
    // position: relative;
}