$services-themes: (
    default: '../../img/services/default.jpg',
    cut: '../../img/services/haircut.jpg',
    trim: '../../img/services/trim.jpg',
    cuttrim: '../../img/services/all.jpg',
    children: '../../img/services/child.jpg' 
);

$services-yellow-theme: (
    passive-color: rgb(255, 255, 255),
    active-color: rgb(255, 222, 32),
    background-color: rgb(107, 107, 107),
    photo-alt-color: #d8cdc9
);


.container_service {
    @extend .fullScreen;
    background-size: cover;
    background-color:  map-get($services-yellow-theme, 'photo-alt-color');
    background-position: -250px;
}

.container_service {
    @each $key, $val in $services-themes {
        &-#{$key} {
            background-image: url(#{$val});
        }
    }
}

.services_links {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    width: 280px;
    top: 150px;
    left: 50%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 1.9em;
}

.services_links-white {
    border-radius: 15px;
    background-color: map-get($services-yellow-theme , 'background-color' );
    color: map-get($services-yellow-theme, 'passive-color' );
    font-weight: 200;
}

.services_linkContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
    &:last-child {
        margin-top: 20px;
        color: map-get($services-yellow-theme , 'active-color' );
    }
}

.services_linkContainer-active {
    color: map-get($services-yellow-theme , 'active-color' );
    border-bottom: 1px solid map-get($services-yellow-theme , 'active-color' );
}