@import './about';
@import './cervices';

.container_main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.main_contacts_map {
    @extend .fullScreen;
    background-color: #d8cdc9;
    width: 100%;
}

.notFoundContainer {
    @extend .fullScreen;
    background-image: url('../../img/404/404.jpg');
    background-size: cover;
    background-position: center;
}

.notFoundContainer_text {
    position: absolute;
    top: 20%;
    right: 15%;
    font-size: 1.4em;
}

.notFoundContainer_link-yellow {
    font-size: 2em;
    text-decoration: underline;
    color: rgb(255, 222, 32);
}

.container_craft {
    @extend .fullScreen;
    background-color: orange;
}

.stuff_image {
    position: absolute;
    top: 0;
    width: 100%;
}

.container_login {
    @extend .fullScreen;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 18vh;
    

    background-image: url('../../img/table.jpg');
    background-size: cover;
    background-position: center;
}

.login_header {
    color: white;
    font-size: 2em;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-top: 50px;
    // border: 1px solid red;
}

.form_input {
    height: 45px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-left: 8px;
    border-bottom: 1px solid rgb(255, 222, 32);
    color: white;
    font-family: 'Open Sans';
    font-size: 1.6em;
    font-weight: 200;
    background-color: transparent;
}

.form_input-invalid {
    border-bottom-color: rgb(255, 29, 29);
}

.form_buttonsContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

.form_button {
    height: 35px;
    width: 35%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 222, 32);
    // color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1em;
}

.login_form:before {
    position: relative;
    width: 60px;
    top: 62px;
    left: -60px;
    content: "+ 44";
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 1.6em;
}


.form_label-invalid {
    color: rgb(255, 29, 29);
}
